.homepage-container {
  position: relative;
  padding: 20px;
  font-family: Arial, sans-serif;

  background-color: #121212; 
  color: #e0e0e0;            
  min-height: 100vh;         
}


.ask-ai-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  background: #1f1f1f;         
  color: #ffffff;

  border: 1px solid #2f2f2f;   
  padding: 10px 16px;
  border-radius: 8px;

  cursor: pointer;
  font-size: 14px;
  font-weight: 600;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

  transition: 0.25s ease;
}

.ask-ai-btn:hover {
  background: #2a2a2a;         
  border-color: #6c5ce7;       
  box-shadow: 0 0 12px rgba(108, 92, 231, 0.4);
}
